/* urbanist google font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true; 
  --color-primary: #3b82f6;

  --color-secondary: #6366f1;
  --color-accent: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #22c55e;
  --color-dark: #111827;
  --color-light: #f3f4f6;
  
 
}
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.menu a.active {
  text-decoration: underline;
  color: Green;
}
.menu a {
  margin: 5px;
  text-decoration: none;
}
